.friend__modal__wrapper{
    width: 100px;
}
.friend__avatar{
    width: 50px;
    margin-inline: auto;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
.friend__name{
    color: black;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}